@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-instrument-serif: "Instrument Serif", serif;

  --color-primary: Black;
  --color-primary-text: black;
  --color-secondary-text: #333333; /* Light Gray */
  --color-white1: white; /* White */
  --color-border: #e5e7eb; /* Light Gray */


  --color-purple-primary: #7c3aed;
  --color-purple-soft: #ede9fe;
  --color-orange-primary: #ea580c;
  --color-orange-soft: #fed7aa;
  --color-blue-soft: #dbeafe;
  --color-rose-primary: #e11d48;
  --color-green-primary: #059669;
  
  --color-purple-gradient: linear-gradient(135deg, #f5f3ff, #eae4ff);
  --color-rose-gradient: linear-gradient(135deg, #fdf2f8, #fce7ef);
  --color-blue-gradient: linear-gradient(135deg, #eff6ff, #dbeafe);
  --color-orange-gradient: linear-gradient(135deg, #fff7ed, #ffe8cc);
  --color-green-gradient: linear-gradient(135deg, #ecfdf5, #d1fae5);
  --color-primary-gradient: linear-gradient(135deg, #f3f4f6, #e5e7eb);}

.bg-purple-gradient {
  background: var(--color-purple-gradient);
}

.bg-rose-gradient {
  background: var(--color-rose-gradient);
}

.bg-blue-gradient {
  background: var(--color-blue-gradient);
}

.bg-orange-gradient {
  background: var(--color-orange-gradient);
}

.bg-green-gradient {
  background: var(--color-green-gradient);
}

.bg-primary-gradient {
  background: var(--color-primary-gradient);
}
